<header
  class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-1 py-0"
>
  <div class="container-fluid d-flex mb-0">
    <!-- TOGGLE BUTTON untuk MOBILE -->
    <button
      class="btn d-md-none"
      data-bs-toggle="offcanvas"
      data-bs-target="#mobileSidebar"
    >
      <i data-feather="menu"></i>
    </button>

    <span class="navbar-brand fw-bold fs-4 p-2">SIM LPPI</span>

    <div class="d-flex align-items-center ms-auto p-2">
      <span class="me-3 d-none d-sm-block fs-6"
        >Universitas Muhammadiyah Purwokerto</span
      >
      <img
        src="/assets/img/LogoUMP.jpg"
        alt="Logo UMP"
        width="40"
        height="40"
      />
    </div>
  </div>
</header>
