*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.navbar {
  z-index: 1050;
  position: sticky;
  top: 0;
}

.sidebar {
  width: 250px;
  background-color: #1a2a4f;
  color: white;
  height: 100%;
  overflow-y: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .label,
.sidebar.collapsed .fw-bold,
.sidebar.collapsed .text-secondary,
.sidebar.collapsed img {
  display: none;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
